<h2>Create View</h2>

<% product = Product.new(params[:product]) %>
<%= product.save %>
<% if product.save %>
	<h2>Yes Created</h2>
	Your product looks like <%= product.inspect %>
<% else %>
	<h2>Not Saved</h2>
	<%= product.errors.full_messages %>
	Press the 'back' button and go fix this problem before submitting again.
<% end %>