<%= select_tag(:ptag, options_for_select([[55, 55], [100, 100], [400, 400]])) %>
<% lots_of_products = Product.where('price > 37 and price < 550') %>

<ol>
  <% lots_of_products.each do |product| %>
    <li>
      <%= product.name %> costs $<%= product.price %> and is sold by <%= product.user.name %>
    </li>
  <% end %>
</ol>
