<h2>New Products View</h2>

<form method='post' action="/products">
	<label>Name</label><br>

	<input type="text" name="product[name]" size="30"><br><br>

	<label>Price</label><br>

	<input type="number" name="product[price]" size="30"><br><br>

	<input type="submit" value="Create New Product">


</form>